<!DOCTYPE html>
<html lang="fa">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background: #31183f;
        }

        content {
            max-width: 500px;
            margin: auto;
            background: white;
            padding: 10px;
        }

        button {

            text-decoration: none;
            color: #fff;s
            font-weight: bold;
            background-color: #4b42f4;
            padding: 20px 10px;
            font-size: 20px;
            border: 1px solid #2d6898;


        }

        html
        body {
            margin: 0;
            height: 100%;
        }

    </style>
</head>
<body>
<form method="post" action="." id="action" background-color: transparent;>
    <table BORDER="1" align="center">
        <tr>
            <td><img src="../static/mighty_button_hr.png" width="50" height="50"></td>
            <br>
            <td><input type="radio" name="action" value="CLOSE" id="01"><br></td>
            <td>
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div align="right">
                                    <a data-toggle="collapse" href="#collapse1"><img
                                            src="../static/Rade8-Minium-2-Sidebar-Utilities.ico" width="20"
                                            height="20"> ابزار</a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" align="ri">
                            <form method="post" action=".">
                                خاموش و روشن کردن دستگاه<input type="radio" name="action" value="reboot"><br>
                                اینترنت کار نمی کند یا ضعیف است<input type="radio" name="action" value="wifi"><br>
                                <button type="submit" class="btn btn-warning btn-sm" align="center">درست کن</button>
                            </form>
                        </div>
                    </div>
                </div>


            </td>
        </tr>
        <tr>

            <td><img src="../static/RJTV.jpg" width="120" height="60"></td>
            <td><input type="radio" name="action" value="Radiojavan" id="01"></td>
            <td><img src="../static/RJRADIO.png" width="120" height="40"></td>
            <td><input type="radio" name="action" value="RJRADIO" id="01"></td>

        </tr>
        <tr>
            <td><img src="../static/manotohd.jpg" width="120" height="60"></td>
            <td><input type="radio" name="action" value="ManotoHD" id="01"></td>
            <td><img src="../static/manoto-1.jpg" width="120" height="60"></td>
            <td><input type="radio" name="action" value="Manotosd" id="01"></td>

        </tr>
        <tr>

            <td><img src="../static/189-TV-Persia%5B01%5D.jpg" width="120" height="60"></td>
            <td><input type="radio" name="action" value="TVPERSIA" id="01"></td>
            <td><img src="../static/bbc-blocks-dark.png" width="120" height="60"></td>
            <td><input type="radio" name="action" value="BBC" id="01"></td>
        </tr>
        <tr>

            <td><img src="../static/popcorn.png" width="120" height="60"></td>
            <td><input type="radio" name="action" value="KODI" id="01"></td>
            <td><img src="../static/Gem.jpg" width="120" height="60"></td>
            <td><input type="radio" name="action" value="GEM" id="01"></td>
        </tr>

          <tr hidden>

            <td><img src="../static/gem-mifa.jpg" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="GEMMIFA" id="01"></td>
            <td><img src="../static/gem-series.jpg" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="GEM" id="01"></td>
        </tr>

        <!-- page jadid html baraye gem ke tamiz bashe safhe asli --->
        <tr hidden>
            <td><img src="../static/Gem-drama.jpg" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="GEMDRAMA" id="01"></td>
            <td><img src="../static/GEM-RIVER.gif" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="GEM" id="01"></td>
        </tr>
         <tr hidden>
            <td><img src="../static/Gem-rubix.gif" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="GEMDRAMA" id="01"></td>
            <td><img src="../static/ONYX-MOVIES.gif" width="120" height="60"></td>
            <td><input disabled type="radio" name="action" value="ONYX" id="01"></td>
        </tr>

    </table>
    <div align="center">
        <button type="submit" class="btn btn-primary btn-lg">پخش</button>
    </div>
</form>


</body>
</html>

